@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }

}

.block {
    animation: appear linear;
    animation-timeline: view ();
}